.focus{
    background-color: rgb(255, 111, 111);
}

.break{
    background-color: rgb(0, 163, 192);
}

.focus-dark{
    background-color: rgb(255, 111, 111);
}

.break-dark{
    background-color: rgb(0, 117, 138);
}


